<h1>Look, you're an admin now!</h1>

<ul>
<% @events.each do |event| %>
    <li>
        <%= link_to event.title, admin_event_path(event.id) %>
        <%= link_to "modifier", edit_admin_event_path(event.id) %>
        <%= link_to "supprimer", admin_event_path(event.id), method: :delete %>
    </li>
<% end %>
</ul>