<div class="debug mb-3">
    <code><%= debug(params) if Rails.env.development? %></code><br/><br/>
</div>
<nav class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="https://www.thehackingproject.org/dashboard/weeks/5/days/1?locale=fr">Made with <i
            class="far fa-heart"></i></a>
</nav>