<div class="card-columns">

    <% @events.each do |event| %>
    <div class="card">
        <div class="card-body">
            <h5 class=card-title>
                <%= event[:title] %>
            </h5>
            <a class="card-text">
                <p>
                    <%= event.title %>
            </a></em>.</p>
            <div type="button" class="btn btn-default">
            </div>
            <a class="button card-link btn btn-primary justify-right m-1" href="<%= event_path(event[:id]) %>"><i class="fas fa-arrow-right    "></i></a>
        </div>
        <div class="card-footer text-muted">
            <%= event[:created_at].strftime("%d/%m/%y") %>
        </div>
    </div>
    <% end %>

</div>
