<% provide(:title, "Admin | Users") %>
<div class="container">
    <h1>Users</h1>
    <h2>Look, you're an admin now!</h2>

    <div class="list-group">
        <%= render partial: 'user', collection: @users %>
    </div>

</div>