<% provide(:title, "Admin | Users") %>
<div class="container">
    <h1>Look, you're an admin now!</h1>

    <div class="list-group">
        <%= render partial: 'user', collection: @users %>
    </div>

</div>