<h1>User</h1>

<%= @user.email %>

<h2>Activités</h2>

<h3>Événements</h3>

<p>Événements proposés</p>
<ul>
    <% @events.each do |event| %>
    <li><%= event.title %></li>
    <% end %>
</ul>

<h3>Participations</h3>

<ul>
    <% @attendances.each do |attendance| %>
        <li><%= attendance.event_id %></li>
    <% end %>
</ul>
